<section class="details">
  <h1>{{userName}}</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="saveUser()">
    <div class="form__title__holder">
      <span class="form__title">Id: </span>
      <p>{{hero.id}}</p>
    </div>
    <div class="form__control__holder">
      <label class="form__title" for="userName">Name: </label>
      <input id="userName" [value]="userName" formControlName="userName" (input)="onUserInputChange($event)" />
    </div>
    <div *ngIf="form.get('userName').hasError('required')
         && (form.get('userName').touched || submitted)"
         class="error"
    >Name is required Field</div>
    <div class="form__bottom">
      <button class="form__bottom__btn">Save</button>
    </div>
  </form>
</section>
