.users {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;

    .user {
        min-width: 10%;
        border: solid 1px gray;
        padding: 60px 20px;
        margin: 15px;
    }
}