.details {
  font-size: 1.3em;
  font-weight: 700;
  .form {
    &__title__holder, &__control__holder {
      display: flex;
      align-items: center;
    }

    &__title {
      margin: 10px;
    }

    &__bottom {
      margin: 10px;

      &__btn {
        padding: 5px 15px;
        background: #efefed;
        color: #64868e;
        border: none;
        font-size: 1em;
        cursor: pointer;
        font-weight: 700;
        border-radius: 8px;

        &:hover {
          color: #10a5e2;
        }
      }
    }

    .error {
      color: darkred;
    }
  }
}
