<section class="details">
  <h1>{{hero?.title}}</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="saveUser()">
    <div class="form__title__holder">
      <span class="form__title">Id: </span>
      <p>{{hero?.id}}</p>
    </div>
    <div class="form__control__holder">
      <label class="form__title" for="heroName">Name: </label>
      <input id="heroName" [value]="hero?.title ? hero.title : ''" formControlName="heroName" (input)="onUserInputChange($event)" />
    </div>
    <div *ngIf="form.get('heroName').hasError('required')
         && (form.get('heroName').touched || submitted)"
         class="error"
    >Name is required Field</div>
    <div class="form__bottom">
      <button class="form__bottom__btn">Save</button>
    </div>
  </form>
</section>
