.heroes-header {
  display: flex;
  justify-content: center;

  .heroes-header-links-wrapper {
    width: 93%;
    display: flex;

    a {
      text-decoration: none;
      margin: 15px;
      color: black;
      background: #efefed;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.5em;
      color: #64868e;
      font-weight: 700;

      &.heroes-header-link-active {
        color: #10a5e2;
      }
    }
  }
}
