.header {
  display: flex;
  justify-content: center;

  &__links {
    width: 93%;
    display: flex;

    a {
      text-decoration: none;
      margin: 15px;
      background: #efefed;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.5em;
      color: #64868e;
      font-weight: 700;

      &--active {
        color: #10a5e2;
      }
    }
  }
}
